.d-flex{
  list-style:none;
};
// img{
//   @media (max-width:992px) {
//     margin: auto;
//   }
// }
.footer{
  @media (max-width:992px) {
    flex-direction: column;
  }
}

.footer-box{
  ul{
    margin: 2rem;
    text-decoration: none;
      @media (max-width:992px) {
        flex-direction: column;
        align-items: center;
      }
  }
  li{
    margin: 1.5rem;
    a{
      text-decoration: none;
      color: black;
      &:hover{
        color: #8b8b8b
      }
    }
  }
};
.footer-icon{
  @media (max-width:992px) {
    margin: auto;
  }
}
.footer-icon ul li{
  margin: 1.5rem;
};
.Info {
  ul{
    @media (max-width:992px) {
      flex-direction: column;
      align-items: center;
    }
  }
  li{
    @media (max-width:992px) {
      margin-right: 0;
      margin-bottom:1rem;
    }
}
  // img{
  //   margin-right: 5px;
  // }
};
.border{
  border: 1px #c1c1c1 solid;
};
.Copyright {
  p{
    margin-top: 1rem;
    color: #c1c1c1;
    font-size: 12px;
  }
  ul{
      @media (max-width:992px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
