.form-border {
  background-color: #f4e9e2;
  padding: 5vmin;
}
.row {
  width: 100%;
  .form-label {
    width: 60%;
    padding-left: 1rem;
  }
  .form-control {
    width: 49%;
  }
  .time-picker {
    width: 49%;
  }
  .form-text {
    display: flex;
  }
}
.form-label {
  width: 60%;
  padding-left: 1rem;
  font-size: 3vmin;
  color: #343a40;
}

.step-indicator {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  .line {
    height: 2px;
    width: 45%;
    background-color: #693b28;
    margin-top: 20vh;
  }
  .step {
    width: 10vmin;
    height: 10vmin;
    background-color: #b58a78;
    color: #8b8b8b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 15vh;
    flex-direction: column;
    span {
      width: 21vmin;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      margin-top: 20vh;
      font-size: 5vmin;
    }
  }
  .step.active {
    background-color: #693b28;
    color: #343434;
  }
}
