.row {
  .col-4 {
    .list-group {
      text-align: center;
      font-family: 'Noto Serif TC';
      .list-title {
      }
    }
  }
  .col-8 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    .news-title {
      border: 1px solid #b58a78;
      border-radius: 10px;
      text-align: center;
      font-family: 'Noto Serif TC';
      color: #461b09;
      margin: auto;
      padding: 1rem;
      width: 60%;
      background-color: #fdf8f4;
    }
    .news-text {
      margin-top: 3vh;
      padding-top: 3vh;
      width: 80%;
      font-family: 'Noto Serif TC';
    }
  }
}
