<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MENU</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="py-6">
      <div class="container">
        <h1  class="display-1 text-center text-primary fw-bolder font-Caveat mb-auto">| MENU |</h1>
      </div>
      
    </div>
    <!-- 選單 -->
    <div class="d-none d-lg-block">
      <%- include('./layout/menuList'); -%>
    </div>
    
    
  <!-- 沙拉 -->
  <div class="bg-salad d-flex align-items-center py-7 mb-6 mb-lg-0">
    
    <div class="container d-none d-lg-block">
      <div class="row justify-content-end align-items-center ">
        <div class="col-lg-5">
          <a href="4-1_menu-salad.html" class="">
            <div class="text-center py-6">
              <h2 class="fw-bold font-NotoSerif mb-6">| 沙 拉 系 列 |</h2>
              <p class="fs-5">隨著人們對健康飲食的重視,沙拉系列在現代社會中變得愈發受歡迎。越來越多的餐廳和快餐連鎖店提供多樣化的沙拉選擇</p>
            </div>
        </a>
        </div>
      </div>
    </div>
    <!-- Mobile -->
    <div class="container d-lg-none ">
      <div class="bg-opcity">
        <div class="col-lg-5">
          <a href="4-1_menu-salad.html" class="">
          <div class="text-center py-6">
            <h2 class="fs-4 fw-bold font-NotoSerif mb-6">| 沙 拉 系 列 |</h2>
            <p class="fs-6">隨著人們對健康飲食的重視,沙拉系列在現代社會中變得愈發受歡迎。越來越多的餐廳和快餐連鎖店提供多樣化的沙拉選擇</p>
          </div>
        </a>
        </div>
      </div>
    </div> 
      

  </div>   
      
    <!-- 漢堡 -->
  <div class="d-flex justify-content-between align-items-center  mb-6 mb-lg-0">
    
    <div class="container d-none d-lg-block">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8">
          <a href="4-2_menu-burger.html" class="">
          <div class="text-center py-6">
            <h2 class="fw-bold font-NotoSerif mb-6">| 漢 堡 系 列 |</h2>
            <p class="fs-5">漢堡作為經典的早午餐品項之一，各種變化和創新也不斷出現,例如素食漢堡、特色漢堡、健康漢堡等,我們能為您提供最適合您喜好的餐點</p>
          </div>
        </a>
        </div>
        
      </div>
    </div>
    <div class="bg-burger d-flex align-items-center w-100 py-7">
      <!-- Mobile -->
      <div class="container d-lg-none ">
        <div class="bg-opcity">
          <div class="col-lg-5">
            <a href="4-2_menu-burger.html" class="">
            <div class="text-center py-6">
              <h2 class="fs-4 fw-bold font-NotoSerif mb-6">| 漢 堡 系 列 |</h2>
              <p class="fs-6">漢堡作為經典的早午餐品項之一，各種變化和創新也不斷出現,例如素食漢堡、特色漢堡、健康漢堡等,我們能為您提供最適合您喜好的餐點</p>
            </div>
          </a>
          </div>
        </div>
      </div> 
    </div> 
    
    
   
      
  
  </div>

  <!-- 早午餐 -->
  <div class="bg-brunch align-items-center d-flex py-7 mb-6 mb-lg-0">
      
    <div class="container d-none d-lg-block">
      <div class="row align-items-center justify-content-end ">
        <div class="col-lg-5 ">
          <a href="4-4_menu-brunch.html" class="h-100">
          <div class="text-center  py-6">
            <h2 class="fw-bold font-NotoSerif mb-6">| 早 午 餐 系 列 |</h2>
            <p class="fs-5">早午餐拼盤可能包含鬆餅、煎蛋、香腸、培根、吐司、鮭魚、沙拉、奶酪、甜點、水果、果汁等,搭配不同的醬料和飲品,讓用餐者可以根據自己的喜好進行選擇</p>
          </div>
        </a>
        </div>
    </div>
    
    </div>
          <!-- Mobile -->
    <div class="container d-lg-none ">
      <div class="bg-opcity">
        <div class="col-lg-5">
          <a href="4-4_menu-brunch.html" class="">
          <div class="text-center py-6">
            <h2 class="fs-4 fw-bold font-NotoSerif mb-6">| 早 午 餐 系 列 |</h2>
            <p class="fs-6">早午餐拼盤可能包含鬆餅、煎蛋、香腸、培根、吐司、鮭魚、沙拉、奶酪、甜點、水果、果汁等,搭配不同的醬料和飲品,讓用餐者可以根據自己的喜好進行選擇</p>
          </div>
        </a>
        </div>
      </div>
    </div> 
    </div>

  <!-- 三明治 -->
  <div class="d-flex justify-content-between align-items-center  mb-6 mb-lg-0">
  
    <div class="container d-none d-lg-block">
      <div class="row justify-content-center align-items-center ">
        <div class="col-lg-8">
          <a href="4-3_menu-sandwich.html" class="">
            <div class="text-center  py-6">
              <h2 class="fw-bold font-NotoSerif mb-6">| 三 明 治 系 列 |</h2>
              <p class="fs-5">美味、快速製作和多樣化的餐點搭配選擇。隨著飲食趨勢向更健康和多樣化發展,素食和輕食的三明治也受到了青睞，我們提供了熱壓吐司、法式吐司與各種風味麵包，讓三明治料理更加有趣，也提供了更新穎的口味</p>
            </div>
        </a>
        </div>
      </div>
    </div>
    <div class="bg-sandwich d-flex align-items-center w-100 py-7">
      <!-- Mobile -->
      <div class="container d-lg-none ">
        <div class="bg-opcity">
          <div class="col-lg-5">
            <a href="4-3_menu-sandwich.html" class="">
            <div class="text-center py-6">
              <h2 class="fs-4 fw-bold font-NotoSerif mb-6">| 三 明 治 系 列 |</h2>
              <p class="fs-6">美味、快速製作和多樣化的餐點搭配選擇。隨著飲食趨勢向更健康和多樣化發展,素食和輕食的三明治也受到了青睞，我們提供了熱壓吐司、法式吐司與各種風味麵包，讓三明治料理更加有趣，也提供了更新穎的口味</p>
            </div>
          </a>
          </div>
        </div>
      </div> 
    </div>
   

  </div>   
        


  <!-- 義大利麵 -->
  <div class="bg-pasta d-flex align-items-center py-7 mb-6 mb-lg-0">
    
    <div class="container d-none d-lg-block">
      <div class="row justify-content-end align-items-center ">
        <div class="col-lg-5">
          <a href="4-5_menu-pasta.html" class="">
            <div class="text-center py-6">
              <h2 class="fw-bold font-NotoSerif mb-6">| 義 大 利 麵 系 列 |</h2>
              <p class="fs-5">常見的義大利麵有直麵、通心粉、斜管麵、螺旋麵等,搭配不同醬料如碎肉醬、青醬、海鮮醬等,形成豐富多樣的義大利麵料理</p>
            </div>
        </a>
        </div>
      </div>
    </div>
    <!-- Mobile -->
    <div class="container d-lg-none ">
      <div class="bg-opcity">
        <div class="col-lg-5">
          <a href="4-5_menu-pasta.html" class="">
          <div class="text-center py-6">
            <h2 class="fs-4 fw-bold font-NotoSerif mb-6">| 義 大 利 麵 系 列 |</h2>
            <p class="fs-6">常見的義大利麵有直麵、通心粉、斜管麵、螺旋麵等,搭配不同醬料如碎肉醬、青醬、海鮮醬等,形成豐富多樣的義大利麵料理</p>
          </div>
        </a>
        </div>
      </div>
    </div>

  </div>   
      
  <!-- 飲品 -->
  <div class="d-flex justify-content-between align-items-center  mb-6 mb-lg-0">
    
      <div class="container d-none d-lg-block">
        
        <div class="row align-items-center justify-content-center ">
          <div class="col-lg-8">
            <a href="4-6_menu-drink.html" class="">
            <div class="text-center py-6">
              <h2 class="fw-bold font-NotoSerif mb-6">| 飲 品 系 列 |</h2>
              <p class="fs-5">漢我們提供新鮮的現打果汁，多種水果富含不同的營養，幫助補充日常所需的維生素，讓您從早晨就補滿一天所需的元氣。也提供經典的茶飲與咖啡，滿足不同需求的您</p>
            </div>
          </a>
          </div>
        </div>
        
      </div>
      <div class="bg-juice d-flex align-items-center w-100 py-7">
        <!-- Mobile -->
        <div class="container d-lg-none ">
          <div class="bg-opcity">
            <div class="col-lg-5">
              <a href="4-6_menu-drink.html" class="">
              <div class="text-center py-6">
                <h2 class="fs-4 fw-bold font-NotoSerif mb-6">| 飲 品 系 列 |</h2>
                <p class="fs-6">漢我們提供新鮮的現打果汁，多種水果富含不同的營養，幫助補充日常所需的維生素，讓您從早晨就補滿一天所需的元氣。也提供經典的茶飲與咖啡，滿足不同需求的您</p>
              </div>
            </a>
            </div>
          </div>
        </div>
      </div>
  
  </div>




    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>