<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="d-lg-flex flex-column vh-100">
  <%- include('./layout/header'); -%>
  <div class="container flex-grow-1 mt-9 mb-9">
    <h2 class="mb-7 text-center">訂位資訊</h2>
    <table class="border border-gray box-shadow-gray-300 mx-auto">
      <thead class="bg-gray text-center">
        <tr>
          <th class="px-lg-6 py-lg-4">訂位編號</th>
          <th class="px-lg-6 py-lg-4">預約日期</th>
          <th class="px-lg-6 py-lg-4">預約時間</th>
          <th class="px-lg-6 py-lg-4">用餐人數</th>
          <th class="px-lg-6 py-lg-4">訂位時間</th>
          <th class="px-lg-6 py-lg-4">姓名</th>
          <th class="px-lg-6 py-lg-4">手機號碼</th>
          <th class="px-lg-6 py-lg-4">信箱</th>
          <th class="px-lg-6 py-lg-4"></th>
        </tr>
      </thead>
      <tbody class="js-tbody">
        <!-- JS渲染 -->
      </tbody>
    </table>
  </div>
  <%- include('./layout/footer'); -%>
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script type="module" src="../main.js"></script>
  <script>
    let reservationData = [];
    const jsTbody = document.querySelector('.js-tbody');
    init();
    function init(){
      getReservationData();
    }
    function getReservationData(){
      axios
      .get(`https://luminous-brunch.onrender.com/posts`)
      .then(function(res){
        reservationData = res.data;
        if(reservationData.length === 0){
          jsTbody.innerHTML = `<tr><td></td><td></td><td></td>
        <td class="p-5">目前無任何訂位資訊</td></tr>`;
          return;
        }
        renderReservationData();
      })
    }
    
    function renderReservationData(){
      let str = '';
      reservationData.forEach(function(item){
        // console.log(item);
        str+=`
        <tr class="text-center">
          <td class="px-5 py-4">${item.id}</td>
          <td class="px-5 py-4">${item.date}</td>
          <td class="px-5 py-4">${item.time}</td>
          <td class="px-5 py-4">${item.peopleNumber}位</td>
          <td class="px-5 py-4">${new Date().toLocaleDateString()} <br/> ${new Date().toLocaleTimeString()}</td>
          <td class="px-5 py-4">${item.name}</td>
          <td class="px-5 py-4">${item.phoneNumber}</td>
          <td class="px-5 py-4">${item.email}</td>
          <td class="px-5 py-4"><button data-id="${item.id}" class="btn btn-dark px-4" type="button">取消訂位</button></td>
        </tr>
        `
      })
      jsTbody.innerHTML = str;
    }

    // 點擊取消訂位按鈕
    jsTbody.addEventListener('click',function(e){
      const id = e.target.getAttribute('data-id');
      if(id === null){
        return;
      }
      axios.delete(`https://luminous-brunch.onrender.com/posts/${id}`)
      .then(function(res){
        alert('取消訂位成功');
        getReservationData();
      })
    })
  </script>
</body>
</html>