<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="d-lg-flex flex-column vh-100">
  <%- include('./layout/header'); -%>
    <div class="container flex-grow-1 d-flex flex-column justify-content-center">
      <div class="d-flex justify-content-center align-items-center mt-8 mt-lg-0 mb-8">
        <span class="material-symbols-outlined fs-48">
          save_as
        </span>
        <h2 class="mb-0 ms-4">修改會員資料</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5">
          <form id="modifyMemberForm">
            <div class="js-inputList"></div>
              <!-- JS渲染 -->
            <div class="js-saveGroup d-flex justify-content-between mb-8">
              <!-- JS渲染 -->
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="../main.js"></script>
</body>

</html>