<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- banner start -->
    <section class="position-relative">
      <div
        class="banner d-flex flex-column align-items-lg-center justify-content-between justify-content-lg-end"
      >
        <div class="container-fluid">
          <img
            class="logoText d-none d-md-block mt-md-9"
            src="../assets/images/index-banner-logoText.png"
            alt="logoText"
          />
          <img
            class="d-block d-md-none ms-auto mx-sm-auto mt-8"
            src="../assets/images/index-banner-logoText-sm.png"
            alt="logoText-sm"
          />
        </div>
        <div
          class="container-fluid px-md-0 btnGroup d-flex flex-column align-items-end"
        >
          <div
            class="banner-text mb-3 mb-sm-7 position-relative align-self-sm-center align-self-lg-end"
          >
            <img
              class="position-absolute img_comma d-none d-md-block"
              src="../assets/images/index-banner-comma.png"
              alt="comma"
            />
            <h1
              class="fs-5 fs-md-2 py-3 px-5 py-md-7 px-md-9 font-NotoSerif fw-bold text-primary"
            >
              隨時隨地預約，<br
                class="d-lg-none"
              />即刻享受我們精心準備的歐式早午餐饗宴。<br />
              將陽光融入每一口滋味
            </h1>
          </div>
          <a
            href="5-1_booking.html"
            class="btn_reserve align-self-sm-center py-3 px-9 py-md-4 px-md-11 btn_reserve_center"
            >立即訂位</a
          >
        </div>
      </div>
      <img
        class="desktop_arrow d-none d-md-block"
        src="../assets/images/Desktop-arrow.png"
        alt="Desktop-arrow"
      />
    </section>
    <!-- banner end -->
    <!-- 提供服務-start -->

    <h2 class="text-primary font-NotoSerif fw-bold text-center mb-11 mt-11">
      <img src="/assets/images/scrollDesktop.png" alt="" />
      <div class="d-flex justify-content-center mb-7">
        <p class="font-Caveat">Lumunous</p>
        <p class="font-NotoSerif">&emsp;想提供您...</p>
      </div>
      <ul class="offer-desktop ps-0">
        <li class="d-flex flex-column mb-3">
          <img src="/assets/images/offerService3.png" alt="" />
          <h5 class="text-yellow-300 font-NotoSerif">兼具營養及美味的餐點</h5>
        </li>
        <li class="d-flex flex-column mb-3">
          <h5 class="text-yellow-300 font-NotoSerif">明亮寬敞的用餐環境</h5>
          <img src="/assets/images/offerService.png" alt="" />
        </li>
        <li class="d-flex flex-column mb-3">
          <img src="/assets/images/offerService2.png" alt="" />
          <h5 class="text-yellow-300 font-NotoSerif">找回迎接生活的動力</h5>
        </li>
      </ul>
      <ul class="offer-mobile ps-0">
        <li class="d-flex flex-column mb-3">
          <img src="/assets/images/offerService3.png" alt="" />
          <h5 class="text-yellow-300 font-NotoSerif">兼具營養及美味的餐點</h5>
        </li>
        <li class="d-flex flex-column mb-3">
          <img src="/assets/images/offerService.png" alt="" />
          <h5 class="text-yellow-300 font-NotoSerif">明亮寬敞的用餐環境</h5>
        </li>
        <li class="d-flex flex-column mb-3">
          <img src="/assets/images/offerService2.png" alt="" />
          <h5 class="text-yellow-300 font-NotoSerif">找回迎接生活的動力</h5>
        </li>
      </ul>
    </h2>
    <!-- 提供服務-end -->
    <!-- 最新消息-開始 -->

    <div
      class="bg-pink d-flex align-items-center justify-content-center"
      style="height: 903px"
    >
      <div class="newsPic">
        <div>
          <img src="/assets/images/news.png" alt="" />
          <div class="position-absolute top-0 start-0">
            <img src="/assets/images/star2.png" alt="" />
          </div>
          <div class="position-absolute bottom-0 end-0">
            <img src="/assets/images/star.png" alt="" />
          </div>
        </div>
      </div>
      <div class="box">
        <div class="news_list font-NotoSerif text-yellow-300">
          <p class="text-primary text-news">最新消息</p>
          <div class="paragraph">
            <div style="margin-bottom: 35px">
              <a href="#">○ 每日精選美味套餐優惠</a>
            </div>
            <div style="margin-bottom: 35px">
              <a href="#">○ 刷卡支付享95折優惠</a>
            </div>
            <div style="margin-bottom: 60px">
              <a href="#">○ 外帶早餐享9折優惠</a>
            </div>
          </div>
        </div>
        <div class="link">
          <a
            href="3_newsMain.html"
            style="
              float: right;
              color: #4a4a4a;
              margin-top: 15px;
              font: NotoSerif;
            "
            >看更多 ></a
          >
        </div>
      </div>
    </div>
    <!-- 最新消息-結束 -->

    <!-- 預約三步驟 start -->
    <div class="container my-11">
      <div class="d-flex flex-column justify-content-center">
        <h2
          class="text-primary font-NotoSerif fw-bold text-center mb-11"
          data-aos="fade-right"
        >
          簡單預約三步驟
        </h2>
        <div class="row align-items-center" data-aos="fade-out">
          <div class="col-lg-4">
            <div class="d-flex flex-column text-center">
              <img
                src="../assets/images/Illustration.png"
                width="187px"
                alt=""
                class="mx-auto mb-7"
              />
              <p class="font-NotoSerif fs-4">1. 挑選時段</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex flex-column text-center justify-content-center">
              <img
                src="../assets/images/Illustration (1).png"
                width="187px"
                alt=""
                class="mx-auto mb-7"
              />
              <p class="font-NotoSerif fs-4">2. 確認訂位</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex flex-column text-center">
              <img
                src="../assets/images/Illustration (2).png"
                width="145px"
                height="194px"
                alt=""
                class="mx-auto mb-7"
              />
              <p class="font-NotoSerif fs-4">3. 完成訂位</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 預約三步驟 end -->
    <!-- 菜單區塊 start -->
    <!-- swiper+菜單輪播測試 Mobile -->
    <!-- Swiper -->
    <div class="position-relative d-lg-none mb-7">
      <div class="menu-border"></div>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper position-relative">
          <div class="swiper-slide position-relative">
            <img
              src="../assets/images/index-menu-mobile.jpg"
              alt="首頁菜單輪播1"
              class=""
            />
          </div>
          <div class="swiper-slide position-relative">
            <img
              src="../assets/images/index-menu-mobile.jpg"
              alt="首頁菜單輪播1"
              class=""
            />
          </div>
          <div class="swiper-slide position-relative">
            <img
              src="../assets/images/index-menu-mobile.jpg"
              alt="首頁菜單輪播1"
              class=""
            />
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
      <a
        href="4_menu.html"
        class="menu-title-bg position-absolute translate-middle menu-title-bg-brunch"
      >
        <h3 class="fs-3 fs-md-1 font-NotoSerif text-light fw-bold">
          精 選 早 午 餐
        </h3>
        <h5 class="fs-5 font-Caveat text-light mt-1">Brunch Specials</h5>
      </a>
      <a
        href="4_menu.html"
        class="menu-title-bg position-absolute translate-middle menu-title-bg-news"
      >
        <h3 class="fs-3 fs-md-1 font-NotoSerif text-light fw-bold">
          最 新 餐 點
        </h3>
        <h5 class="fs-5 font-Caveat text-light mt-1">New Menu Items</h5>
      </a>
    </div>
    <!-- swiper+菜單輪播測試 mobile 結束 -->
    <!-- swiper+菜單輪播測試 pc -->
    <!-- Swiper -->
    <div class="position-relative d-none d-lg-block mb-11">
      <div class="menu-border"></div>
      <div class="swiper mySwiper position-relative">
        <div class="swiper-wrapper position-relative">
          <div class="swiper-slide position-relative">
            <img
              src="../assets/images/index-menu-1.jpg"
              alt="首頁菜單輪播1"
              class=""
            />
          </div>
          <div class="swiper-slide position-relative">
            <img
              src="../assets/images/index-menu-1.jpg"
              alt="首頁菜單輪播1"
              class=""
            />
          </div>
          <div class="swiper-slide position-relative">
            <img
              src="../assets/images/index-menu-1.jpg"
              alt="首頁菜單輪播1"
              class=""
            />
          </div>
        </div>

        <div class="swiper-pagination mt-6"></div>
      </div>
      <a
        href="4_menu.html"
        class="menu-title-bg position-absolute translate-middle menu-title-bg-brunch"
      >
        <h1 class="fs-1 font-NotoSerif text-light fw-bold">精 選 早 午 餐</h1>
        <p class="fs-3 font-Caveat text-light mt-1">Brunch Specials</p>
      </a>
      <a
        href="4_menu.html"
        class="menu-title-bg position-absolute translate-middle menu-title-bg-news"
      >
        <h1 class="fs-1 font-NotoSerif text-light fw-bold">最 新 餐 點</h1>
        <p class="fs-3 font-Caveat text-light mt-1">New Menu Items</p>
      </a>
    </div>
    <!-- swiper+菜單輪播測試 結束 -->
    <!-- 菜單區塊 end -->
    <!-- 顧客評論 start-->
    <div class="bg h-100">
      <div class="container">
        <div
          class="row carousel slide py-11"
          id="carouselExampleControls"
          data-bs-ride="carousel"
        >
          <div
            class="col-md-2 d-flex align-items-center justify-content-center col-sm-12"
          >
            <div class="text">
              <h3>顧客評論</h3>
              <div>
                <ul class="d-flex justify-content-between">
                  <li class="arrow-left" id="previous">
                    <a
                      href="#"
                      class=""
                      type="button"
                      data-bs-target="#carouselExampleControls"
                      data-bs-slide="prev"
                      role="button"
                    >
                      <span class="visually-hidden">Previous</span>
                      <img src="/assets/images/Vector.png" alt="" />
                    </a>
                  </li>
                  <li class="arrow-right" id="next">
                    <a
                      href="#"
                      class=""
                      type="button"
                      data-bs-target="#carouselExampleControls"
                      data-bs-slide="next"
                      role="button"
                    >
                      <span class="visually-hidden">Next</span>
                      <img src="/assets/images/Vector-right.png" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class=" carousel-item d-flex" id="course-section">
          </div>
        </div>
        <div class="d-flex justify-content-center booking pb-10">
          <button type="button" class="btn btn-lg">立即訂位</button>
        </div>
      </div>
    </div>
    <!-- 顧客頻論 end -->

    <%- include('./layout/footer'); -%>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper('.mySwiper', {
        pagination: {
          el: '.swiper-pagination',
          dynamicBullets: true,
        },
        autoplay: {
          delay: 3000,
          stopOnLastSlide: false,
          disableOnInteraction: true,
        },
        // effect: "fade",
        spaceBetween: 0,
      });

      // 顧客評論

      const data = [
    {
      img: 'http://127.0.0.1:5500/img/Avatar.png',
      title: '陳大名1',
      content:'他們的線上預約系統非常方便，讓我能在繁忙的日程中輕鬆安排用餐時光。用餐環境也非常優雅。讓我感受到了真正的歐式風情。',
    },
    {
      img: 'http://127.0.0.1:5500/img/Avatar.png',
      title: '陳大名2',
      content:'他們的線上預約系統非常方便，讓我能在繁忙的日程中輕鬆安排用餐時光。用餐環境也非常優雅。讓我感受到了真正的歐式風情。',
    },
    {
      img: 'http://127.0.0.1:5500/img/Avatar.png',
      title: '陳大名3',
      content:'他們的線上預約系統非常方便，讓我能在繁忙的日程中輕鬆安排用餐時光。用餐環境也非常優雅。讓我感受到了真正的歐式風情。',
    },
    {img: 'http://127.0.0.1:5500/img/Avatar.png',
      title: '陳大名4',
      content:'他們的線上預約系統非常方便，讓我能在繁忙的日程中輕鬆安排用餐時光。用餐環境也非常優雅。讓我感受到了真正的歐式風情。',
    },
  ];
const courseSection = document.querySelector('#course-section');
const previous = document.querySelector('#previous');
const next = document.querySelector('#next');

let num = 0;
function render(num){
  str = "";
  data.filter((item, index) => num == index || num +1 == index)
  .forEach(function(i){
  str+=`     <div class="card me-12">
              <ul class="d-flex">
                <li><img src="${i.img}" alt="#" class="coad-img"></li>
                <li><div class="card-name">${i.title}</div></li>
              </ul>
              <div class="card-body">
                <div class="star-box d-flex">
                  <div class="star"></div>
                  <div class="star"></div>
                  <div class="star"></div>
                  <div class="star"></div>
                  <div class="star"></div>
                </div>
                <p>${i.content}<p>
              </div>
            </div>`;
            courseSection.innerHTML = str;
  });
};
//操作前後

previous.addEventListener('click',() => {
  
  if(num == 0){
    return;
  };
  num --;
  render(num);
});

next.addEventListener('click',() => {
  console.log('uu')
  //避免 num 超過資料
  if(num == data.length - 1){
    return;
  };
  num ++;
  render(num);
});

render(num);
    </script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
